.wrapper-title-survey {
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 0.5px solid grey;
}

.title-input-text {
  font-size:20px;
  font-weight: bold;
  color: black;
  display: none;
}

.description-input-text {
  font-size: 18px;
  font-weight: lighter;
  color: grey;
  display: none;
}

.choice-type-and-question {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-grow: 1;
}

.survey_questions_name {
  flex-grow: 1;
  padding-left: 10px;
}

.question-input-text {
  color: grey;
}
#questions {
  // display: flex;
  margin-bottom: 80px;
}

.nested-fields {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-bottom: 20px;
  align-items:center;
}

#choices {
  padding-left: 160px;
  border-bottom: 2.5px solid lightgrey;
  padding-bottom: 30px;
}

.question-icon {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 31px;
}

#questions {
}

.delete-icon {
  font-size: 20px;
  padding-top: 14px;
  padding-left: 12px;
}

.choice-input-text {
  color:grey;
}
