// Import page-specific CSS files here.
@import "home";
// CSS styling for index starting hereafter


.main-content {
  height: 100vh !important;
  overflow: hidden !important;
}

.overflow-a {
  overflow: hidden;
  height: 90vh;

}

.no-b-margin {
  margin-bottom: 0px !important;
}


.index-title-section {
  padding-top: 31px;
  background: #F4F4F4;
}

.survey-list {
  flex-grow: 1;
  padding-right: 25px;
}

.survey-list {
  height: 100vh;
  overflow: hidden;
  padding: 25px;
  padding-bottom: 0px;
  width: 100%;
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.left-page {
  flex-basis: 50%;
  overflow: scroll;
  padding: 20px;
}

.right-page {
  overflow: scroll;
  flex-basis: 50%;
  padding: 20px;
  border-left: 1px solid #E3EBF6;
  text-align: center;
  position: relative;
}

.survey-wrapper {
  display: flex;
  height: 100vh;
}

.all-surveys {
  height: 100%;
  overflow: scroll;
  padding-top: 30px;
}

.bot-on-index > img {
  width: 180px;
  margin-bottom: 10px;
}

.bot-on-index {
  position: absolute;
  top: 30%; left: 40%;
}

.survey-card-index-wrapper {
  background: white;
  height: 110px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 0.5px solid grey;
  box-shadow: 0 0 7px lightgrey
}

.survey-card-index-content {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

.survey-card-index-info {
  flex-grow: 1;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 89%;
  padding-top: 7px;
  padding-left: 7px;
}

.survey-card-index-info > h3 > a {
  text-decoration: none;
  color: #404040;
  font-size: 20px;
}

.survey-card-index-info > p {
  color: grey;
  margin-bottom: none;
  font-weight: lighter;
  font-size: 14px;
}

.survey-card-index-resend {
  color: black;
  margin-bottom: none;
  font-weight: lighter;
  font-size: 10px;
}

.survey-card-index-resend:hover {
  // color: black;
  margin-bottom: none;
  font-weight: lighter;
  font-size: 10px;
  text-decoration: none;
}

.survey-card-index-secondary {
  width: 50px;
  text-align: center;
  margin: auto 0;
}

.survey-card-index-secondary > p {
  color: grey;
  font-size: 12px;
  font-weight: lighter;
}

.survey-card-index-secondary  i {
  color: darkgreen;
}

.delete-index  i{
  color: grey;
  z-index: 30;
}
