
let cardDiv<%=@survey.id%> = document.querySelector(".surv-id-<%=@survey.id%>");
cardDiv<%=@survey.id%>.classList.add("slide-out-left");

document.querySelector(".right-page").innerHTML = '<div class="bot-on-index"><%= image_tag("robot.png")%> <p style="color: grey;">No Critiq Selected</p></div>'
