<div class="container">
  <h1>Index Page</h1>
  <!-- Display all surveys of the current user(controller) if surveys
       have been created -->
  <% if @surveys.count != 0 %>
    <% @surveys.each do |survey| %>
      <div>
        <!-- title of survey -->
        <h3><%= link_to survey.title, survey_path(survey)  %></h3>
        <!-- description of survey -->
        <p> <%= survey.description %> </p>
        <!-- status of survey; sent out? -->
        <% if survey.published %>
          <p>status: published </p>
        <% else %>
          <p>status: pending</p>
        <% end %>
        <!-- date of survey -->
        <p> <%= survey.created_at.strftime("%A, %b %d") %></p>
        <!-- % of responses as colored status bar (see Figma for) -->
      </div>
    <% end %>
  <% else %>
    <h3> No surveys created so far </h3>
  <% end %>

  <!-- Button redirects to form for new survey -->
  <%= link_to "New CRITIQ", new_survey_path, class:"btn btn-primary" %>
  <!-- Button redirects back to dashboard -->
  <%#= link_to "Back", root_path, class:"btn btn-danger" %>
</div>


