<%= render 'shared/navbar' %>
<h1>Slack#home</h1>

<h1>Signed in as: <%= current_user.nickname.capitalize if user_signed_in? && !current_user.nickname.nil? %></h1>


<%= simple_form_for @survey, :url => slack_send_path, :method => :post do |f| %>
  <%= f.button :submit %>
<% end %>
