.howto-img img {
  width: 420px !important;
  height: 420px !important;
}

.lp-card-text > h4 {
  font-weight: 500 !important;
}

.howto-text > h3 {
  font-size: 30px !important;
  font-weight: 500 !important;
}

.full-screen-banner {
  max-height: 580px !important;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  font-family: 'Cerebri Sans';
  font-weight: 700;
  position: relative;
}

.banner {
  padding-top: 100px;
  h1 {
    text-align: right;
    font-size: 50px;
    letter-spacing: 0.05rem;
  }
}

.banner-img {
  height: 500px;
  width: 700px;
  z-index: 2;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.banner-text {
  margin-top: 38px;
  padding-left: 27px;
  text-align: right;
  position: relative;
  right: 45px;
}

.cta {
  display: inline-block;
  margin: 30px auto;
  text-align: center;
  padding: 10px 25px;
  border-radius: 7px;
  background: #167FFB;
  color: white;
  font-weight: 200;
    &:hover {
      background: white;
      color: #167FFB;
      border: 1px solid #167FFB;
      text-decoration: none;
  }
}
