.card-recipient-name {
  padding: 5px;
}

.info-card-response{
  text-align: left;
  font-size:13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

.info-card-response-header {
  display:block;
  text-align: left;
  h3 {
    padding-top: 8px;
  }
}
