.company-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.4;
}

.company {
  margin-right: 30px;
}

.company-img {
  width: 56px;
  -webkit-filter: grayscale(1);
}

.reko {
  position: absolute;
  bottom: 73px;
}

.place-left {
  margin-left: 5px;
}
