.howto-wrapper {
  background-color: rgb(250, 250, 250);
  width: 100%;
}

.howto-img {
  width: 70%;
  img {
    height: 400px;
    width: 500px;
  }
}

.howto-text {
  margin: 0 45px;

  h3 {
  font-family: 'Cerebri Sans';
  font-size: 23px;
  font-weight: 400;
  }
  p {
  font-family: 'Cerebri Sans';
  font-weight: 300;
  font-size: 20px;
  color: rgb(130, 130, 130);
  }
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.space-bottom {
  margin: 50px 0 70px 0;
}

.padding-bot {
  padding-bottom: 25px;
}
