.modal-content {
  border-radius: 4px;
}

.modal-dialog-centered {
  max-width: 750px;
}

.survey_description {
  margin-bottom: 30px;
}

.wrapper-modal-survey {
  display: flex;
}

.survey-modal-picture > img {
  width: 200px;
  padding-top: 45px;
}

.survey-modal-content {
  flex-grow: 1;
  padding-left: 40px;
  padding-right: 25px;
}
