.navbar-lewagon {
  justify-content: space-between;
  z-index: 3;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  z-index: 2;
}
