.critiq-navbar-name {
  margin-bottom: 0 !important;
  margin-left: 10px;
}

.nav-item-navbar a {
  font-size: 18px;
  font-weight: lighter !important;
  letter-spacing: 2px;
  padding-right: 32px;
}

.navbar-lewagon {
  justify-content: space-between;
  z-index: 3;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#black-font-color {
  color: black;
  font-weight: bold;
}

.home-navbar {
  z-index: 2;
  a {
    color: white;
    font-weight: bold;
  }
}

.critiq-logo-size {
  height: 50px;
  width: 50px;
}

// when scrolling
.sticky-nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
  a {
    color: black;
  }
}
