.response-card {
  text-align: left;
  background: white;
  padding: 10px;
  border: 1px rgb(230, 230, 230) solid;
  border-radius: 3px;
  margin-bottom: 10px;
}

.question-title-right-page {
  font-size: 0.9rem;
  spacing: 0.016rem;
  font-weight: 400;
  text-align: left;
}
