.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          margin-bottom: 0;
}


@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    height: 105px;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    height: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    height: 105px;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    height: 0;
  }
}






.surv-date-box {
  border-right: 1px solid #edf2f9;
  height: 55px;
  margin-right: 10px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  i {
    opacity: 0.4;
  }
}


.progress {
  background-color: hsla(215, 50%, 90%, 1) !important;
}

.surv-card {
  transition: ease-in 0.05s;
}

.surv-card:hover {
  background-color: hsla(210, 50%, 96%, 1);
  border: 1px solid hsla(214, 59%, 83%, 1);
}


.surv-card-active {
  border: 1px solid hsla(214, 59%, 83%, 1);
  background-color: hsla(210, 50%, 96%, 1);
}

.surv-card-active:hover {
  background-color: hsla(210, 50%, 96%, 1);
}
