.surv-date-box {
  border-right: 1px solid #edf2f9;
  height: 55px;
  margin-right: 10px;
  padding-right: 24px;
}


.surv-card:hover {
    background-color: rgba(249, 251, 253, 0.5);
}


.surv-card-active {
  background-color: #546b8a;
  color: #f9fbfd;
}

.surv-card-active:hover {
  background-color: #546b8a !important;
  color: #f9fbfd !important;
}
